
.saml-error {
    color: #fa2020;
}

.link-details {
    font-style: italic;
}

#metadata-loader {
    display:none;
}

dl.saml-url dd {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

dl.saml-url dt {

}


h2 span.saml-step {
    display:inline-block;
    font-size: 1.2em;
    background-color: black;
    color:white;
    border-radius: 0.5em;
    padding: 0 0.3em;

}

.jforms-ctrl-textarea {
    font-family: monospace;
    width:40em;
}

#jforms_samladmin_attrmapping .control-group,
#jforms_samladmin_spconfig .control-group,
#jforms_samladmin_idpconfig .control-group,
#metadata-loader .control-group

{
    margin-bottom: 20px;
}

#jforms_samladmin_attrmapping .help-block {
    margin-left:2em;
}


.form-horizontal .controls:first-child {
    margin-left: 0;
}

#jforms_samladmin_spconfig_certKeyLength_label {
    float: none;
    width: auto;
    display: inline-block;
}