
.saml-error {
    color: #fa2020;
}

.link-details {
    font-style: italic;
}

#saml-index li {
    margin-top: 1em;
}

#metadata-loader {
    display:none;
}

dl.saml-url dd {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

dl.saml-url dt {

}
