<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="saml@modules.jelix.org" name="saml" createdate="2019-06-20">
        <version date="2022-05-30">2.0.0</version>
        <label lang="en_US">module to authenticate with a SAML server</label>
        <description lang="en_US"></description>
        <license URL="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</license>
        <copyright>2019-2022 3liz</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org"/>
    </info>
    <dependencies>
        <jelix minversion="1.6.37-pre" maxversion="1.8.*"/>
        <choice>
            <module name="jauthdb"/>
            <module name="jcommunity"/>
        </choice>
    </dependencies>
    <autoload>
        <namespacePathMap name="Jelix\Saml" dir="lib" />
    </autoload>
</module>
