;<?php die(''); ?>
;for security reasons , don't remove or modify the first line
; this is configuration specific to the local server, to this specific instance.
; it overrides mainconfig.ini.php parameters

domainName=appsaml.local

; chmod for files created by Jelix
chmodFile=0664
chmodDir=0775

forceHTTPPort=80
forceHTTPSPort=443

[saml:idp]

; label to display in the interface and in the login form
label= LemonLdapNG

entityId=http://auth.lemon.local/saml/metadata

singleSignOnServiceUrl=http://auth.lemon.local/saml/singleSignOn
singleLogoutServiceUrl=http://auth.lemon.local/saml/singleLogout
singleLogoutServiceResponseUrl=http://auth.lemon.local/saml/singleLogoutReturn

certs_signing_files=idp_sig.pem
certs_encryption_files=idp_encrypt.pem
