;<?php die(''); ?>
;for security reasons , don't remove or modify the first line
; this is configuration specific to the local server, to this specific instance.
; it overrides mainconfig.ini.php parameters


domainName=appsaml.local

; chmod for files created by Jelix
chmodFile=0666
chmodDir=0777

forceHTTPPort=80
forceHTTPSPort=443